{% load bootstrap_tags %}
<div class="change-card">
    <h2>Current Card</h2>
    <p>
        Current card on file is a <strong>{{ request.user.customer.card_kind }}</strong>
        ending in the digits <strong>{{ request.user.customer.card_last_4 }}</strong>.
        <div class="alert alert-block alert-error hide" id="stripe-message-error"></div>
        <div class="alert alert-block alert-info hide" id="stripe-message-info"></div>
    </p>
    
    {% if error %}
        <div class="alert alert-error">{{ error }}</div>
    {% endif %}
    
    <form action="{% url payments_ajax_change_card %}" class="form-horizontal" method="POST">
        {% csrf_token %}
        <payment key="{{ STRIPE_PUBLIC_KEY }}"></payment>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
</div>