{% extends "payments/base.html" %}
{% load url from future %}

{% block title %}Purchase a Subscription{% endblock title %}

{% block body %}
    {% with request.user.customer.current_subscription as subscription %}
        {% if not subscription or subscription.status == 'canceled'  %}
            {% include "payments/_subscription_status.html" %}
            {% include "payments/_subscribe_form.html" %}
        {% endif %}
         
            {% if subscription.status == 'active'%}
            <h2>You already have a subscription</h2>
            <br>
            <p class = "lead">You have an active subscription. It will automatically renew in <strong>{{ subscription.current_period_end|timeuntil }}</strong>.</p>
            <p class = "lead">If you like, you can view your <a href="{% url 'payments_history' %}">payment history</a>, <a href="{% url 'payments_change_card' %}">change your card</a> or <a href="{% url 'payments_change_plan' %}">change your subscription</a>.</p>
            {% endif %}
                 
            {% if subscription.status == 'trialing'%}
           <h2>You already have a subscription</h2> 
           <br>           
            <p class = "lead">You have a subscription that you are <strong>trialing</strong> . Your trial will end in <strong>{{ subscription.current_period_end|timeuntil }}</strong> at which time billing will commence.</p>
            <p class = "lead">If you like, you can <a href="{% url 'payments_change_card' %}">change your card</a> or <a href="{% url 'payments_change_plan' %}">change your subscription</a>.</p>            
            {% endif %}
       
    {% endwith %}
{% endblock %}
